model BancoRodrigo.Models.Loan

<h2>Crear Préstamo</h2>

using (Html.BeginForm())
{
    Html.AntiForgeryToken()

    <div>
        Html.LabelFor(m => m.Amount)
        Html.TextBoxFor(m => m.Amount)
    </div>
    <div>
        Html.LabelFor(m => m.InterestRate)
        Html.TextBoxFor(m => m.InterestRate)
    </div>
    <div>
        Html.LabelFor(m => m.DurationDays)
        Html.TextBoxFor(m => m.DurationDays)
    </div>
    <div>
        Html.LabelFor(m => m.PaymentMethod)
        Html.DropDownListFor(m => m.PaymentMethod, new SelectList(new[] { "Mensual", "Fin de la inversión" }))
    </div>

    <button type="submit">Crear Préstamo</button>
}
